

.card {
  width: 35%;
  margin: auto;
  position: relative;
  top: 10rem;
  
}

.border    {
  border: solid green 5px; 
}

.container    {
  flex: row;
}

.title  {
  font-size: 3rem;
}

.nightDay {
  width: 3rem;
  height: 3rem;
  margin: auto 0;
}






